// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
$gray: #0E0000;
$white: #ffffff;


$black: #151515;
$black-hover: #303030;

$light-gray: #f6f6f6;
$border-gray: #e5e5e5;
$med-gray: #c1c1c1;
$menu-buttons: #999999;
$dark-gray: #666666;

$orange: #D18411;
$orange-hover: #dfa145;

$background: #ffffff;
$off-white: #fcfcfc;
