<h1 class="m-4">All books</h1>
  <h2 class="m-4">Fiction</h2>
<div class="d-flex">
  <% @books_fiction.each do |book| %>
    <div class="m-3">
     <% if !book.photo_url.nil? %>
        <%= link_to book_path(book), data: { turbolinks: false } do %>
          <div><%= image_tag book.photo_url %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
  <h2 class="m-4">Adventure</h2>
